.annotation-builder {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.export-import-buttons {
  display: flex;
  gap: 10px;
}

.export-button,
.import-button {
  background-color: #ADA6C4; /* Purple-Secondary-300 for a distinct look */
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.export-button:hover,
.import-button:hover {
  background-color: #A09AB7; /* Purple-Secondary-350 */
}

/* Other styles */

.category, .subcategory, .datapoint {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.category {
  background-color: #E7E5F0; /* Purple-Secondary-50 */
}

.subcategory {
  background-color: #D6D2E4; /* Purple-Secondary-100 */
  margin-left: 20px;
}

.datapoint {
  background-color: #C5BFD9; /* Purple-Secondary-200 */
  margin-left: 40px;
}

/* Style for input fields and other buttons */
input[type="text"], select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #6348A3; /* Purple-Primary-450 */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #554087; /* Purple-Primary-475 */
}

button:active {
  background-color: #ADA6C4; /* Purple-Secondary-300 */
}